@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
img {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
}

body.modal-open {
  overflow: hidden;
}

a.link.current {
  color: #2196f3;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus, .link:hover {
  color: #2196f3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 94px;
}

@media (max-width: 767px) {
  .what {
    display: none;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-list-item {
  padding-left: 0;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

/* ХЕДЕР */
.logo-header {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.logo-web {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .menu-wrapper {
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 100%;
    right: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-125%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-wrapper.is-open {
    transform: translateY(0);
  }
  .nav-menu-button {
    background-color: transparent;
    border: none;
  }
  .nav-menu-button.is-open .icon-cross-svg {
    display: block;
  }
  .nav-menu-button.is-open .icon-cross-svg:hover {
    fill: #2196f3;
  }
  .nav-menu-button.is-open .icon-menu-svg {
    display: none;
  }
  .icon-cross-svg {
    display: none;
  }
  .icon-menu-svg:hover {
    fill: #2196f3;
  }
}

.icon-cross-svg,
.icon-menu-svg {
  fill: #000;
}

@media screen and (min-width: 767px) {
  .nav-menu-button {
    display: none;
  }
  .header {
    line-height: normal;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .logo-header {
    margin-right: 81px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
}

/* ХЕДЕР-НАВИГАЦИЯ */
.navigation-link {
  position: relative;
  display: inline-block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation-link:hover, .navigation-link:focus {
  color: #2196f3;
}

.navigation-list-item .current {
  color: #2196f3;
}

.navigation-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 60px;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation-link {
    padding-bottom: 8px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-right: 84px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list .navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

/* ХЕДЕР-КОНТАКТЫ */
.header-contacts .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contacts .link:hover, .header-contacts .link:focus {
  color: #2196f3;
}

.header-list-svg {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-address .link:hover .header-list-svg,
.header-contacts-address .link:focus .header-list-svg {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts-address:not(:last-child) {
    margin-bottom: 16px;
  }
  .header-contacts .link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts .link {
    font-size: 12px;
  }
  .header-contacts-list {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .header-contacts-address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-contacts-address:not(:last-child) {
    margin-right: 30px;
  }
}

/* ПОРТФОЛИО-ФИЛЬТР */
.filter-button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  border: 0;
  text-align: center;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 4px;
  display: block;
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
}

.filter-button:focus, .filter-button:hover {
  color: #ffffff;
  background-color: #2196f3;
  outline: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
  }
  .filter-list li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

/* ПОРТФОЛИО-РАБОТЫ */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .link {
  text-decoration: none;
}

.portfolio-list .title {
  font-size: 18px;
  font-weight: 0;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list .text-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: #757575;
}

.portfolio-list .hover-text-portfolio-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-list-item {
  width: 100%;
  border: 1px solid #eeeeee;
}

.portfolio-list-item .link:hover,
.portfolio-list-item .link:focus {
  box-sizing: border-box;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item .link:hover .overlay,
.portfolio-list-item .link:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-list-description {
  display: block;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-list-description .title {
  margin-bottom: 0;
  margin-top: 0;
}

.portfolio-list-description .text-description {
  margin-bottom: 0;
  margin-top: 0;
  text-align: start;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hover-text-portfolio-list {
  margin: 0;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .portfolio-container {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .portfolio-list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc(50% - 30px);
  }
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-list-item:last-child {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .portfolio-list {
    justify-content: center;
  }
  .portfolio-list-item {
    width: calc((100% - 60px) / 3);
  }
  .portfolio-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

/* ФУТЕР */
.footer {
  background: #2f303a;
}

.footer .title {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-footer {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo-address {
  padding-top: 60px;
}

.footer-address-item {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-address-list {
  padding-bottom: 60px;
}

.join .social-list {
  margin-top: 20px;
}

.join .social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join .social-list-item-link:focus, .join .social-list-item-link:hover {
  background: #2196f3;
}

.join .social-list-item-link-svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.social-list-item-link:hover .social-list-item-link-svg,
.social-list-item-link:focus .social-list-item-link-svg {
  fill: white;
}

@media screen and (max-width: 1199px) {
  .footer .container {
    text-align: center;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-form-subscribe {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .logo-footer {
    font-size: 24px;
  }
  .join {
    margin-bottom: 60px;
  }
  .join .social-list {
    justify-content: center;
  }
  .footer-subscribe-wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-logo-address {
    flex-basis: 50%;
  }
  .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
  }
  .footer-subscribe-wrapper {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-item {
    margin-right: 69px;
  }
  .join .social-list {
    margin-right: 94px;
  }
  .footer-subscribe-wrapper {
    display: flex;
    flex-direction: column;
  }
  .email {
    width: 358px;
    margin-right: 12px;
  }
}

/* ФУТЕР-форма */
.footer-text-subscribe {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-subscribe input {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-form-subscribe {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.footer-form-subscribe input {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.email {
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.footer-subscribe-button-svg {
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .email {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=porffolio.css.map */